@import url(reset.css);
body {
  font-family: "Roboto", sans-serif;
}
.main_header {
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  border-bottom: 5px solid red;
  width: 100%;
  background-color: white;
}
.main_header > h3 {
  padding: 30px;
}
.main_header > .left {
  padding-left: 30px;
  padding-top: 30px;
}
.main_header > .left > li {
  background-image: url(images/social.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
}
.main_header > .left > li:nth-child(2) {
  background-position: -32px;
}
.main_header > .left > li:nth-child(3) {
  background-position: -64px;
}
.main_header > .left > li:nth-child(4) {
  background-position: -96px;
}
.main_header > .main_header > ul {
  overflow: hidden;
  text-align: center;
}
.main_header > ul > li {
  float: left;
}
.main_header > .right {
  position: absolute;
  right: 10px;
  top: 10px;
}
.main_header > .right > li {
  padding: 10px;
}
.main_header > .menu {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}
.main_header > .menu > ul {
  margin: 0 auto;
}
.main_header > .menu > ul > li {
  display: inline-block;

  padding: 20px 30px;
}
.main_header > .menu > ul > li > a {
  text-decoration: none;
  color: #000;
}
.section1 {
  margin-top: 158px;
  width: 100%;
  background-image: url(images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}
.section1 > div {
  text-align: center;
  font-size: 30px;
  color: aliceblue;
  line-height: 100px;
  height: 100px;
}
.section1 > div:first-child {
  padding-top: 100px;
  font-size: 60px;
}
.section2 {
  text-align: center;
  border-bottom: 3px dashed #ddd;
  padding: 5px;
  font-weight: bold;
}
.section3 {
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}
.section3 > div {
  display: inline-block;
  padding: 50px;
}
.foot1 {
  border-top: 1px solid #ddd;
}
.foot1 > p:first-child {
  position: absolute;
  left: 0px;
  bottom: 30px;
}
.foot1 > p:last-child {
  position: absolute;
  right: 0px;
  bottom: 30px;
}
